<manifest xmlns:android="http://schemas.android.com/apk/res/android" namespace="com.rigglex">
	<uses-permission android:name="android.permission.INTERNET" />
	<!-- Allows the app to access the camera for video streams -->
	<uses-permission android:name="android.permission.CAMERA" />
	<!-- Allows the app to access the microphone for audio streams -->
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<!-- Allows WebRTC to check if the network is available -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<!-- Allows WebRTC to change audio settings, like toggling the speakerphone -->
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<!-- The rest of your existing permissions -->
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.BIND_TELECOM_CONNECTION_SERVICE" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<!-- <uses-feature android:name="android.hardware.microphone" android:required="false" /> -->
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	<uses-feature android:name="android.hardware.audio.output" />
	<uses-feature android:name="android.hardware.microphone" />
	<application android:name="com.rk.riggle_one.MainApplication" android:label="@string/app_name" android:icon="@mipmap/ic_app_icon" android:roundIcon="@mipmap/ic_rounded_app_icon" android:allowBackup="false" android:theme="@style/AppTheme" android:supportsRtl="true" android:requestLegacyExternalStorage="true">
		<meta-data android:name="com.google.firebase.messaging.default_notification_icon" android:resource="@mipmap/ic_app_icon" />
		<activity android:name="com.rk.riggle_one.MainActivity" android:label="@string/app_name" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|screenSize|smallestScreenSize|uiMode" android:launchMode="singleTask" android:windowSoftInputMode="adjustResize" android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
	</application>
</manifest>
